#mememon-field {
  width:750px;
  height: 650px;
  margin-left: 50px;
  margin-top: 50px;
  background-image: url('../../assets/images/pokemonfield.jpg');
  float: left;
}

#mememon-showed {
  width: 50%;
  height: 20%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.mememon {
  height: 50%;
  width: 50%;
}
