<md-card id="mememon-field">
  <md-card-title>Mememon Go</md-card-title>
  <md-card-subtitle>Play Area</md-card-subtitle>
    <md-card-content>
      <md-card id="mememon-showed" *ngIf="mememonAppeared">
        <md-card-title *ngIf="!catchFailed">A wild <strong>{{mememon.name}}</strong> appeared!</md-card-title>
        <md-card-title *ngIf="catchFailed">Oh no! <strong>{{mememon.name}}</strong> dodged your Memeball!</md-card-title>
        <md-card-subtitle>Name: {{mememon.name}}, Strength: {{mememon.strength}}</md-card-subtitle>
        <md-card-content>
          <img class="mememon" [src]="mememon.mememonImagePath">
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="primary" (click)="catchMememon()">Catch!</button>
          <button md-raised-button color="secondary" (click)="run()">Run</button>
        </md-card-actions>

      </md-card>
      </md-card-content>
</md-card>
