<md-card id="memedex">
  <md-card-title>Memedex</md-card-title>
  <md-card-subtitle>Memes you've caught</md-card-subtitle>
  <md-card-content layout="row">
    <img *ngFor="let mememon of mememonsCaught" class="memedex-mememon" [src]="mememon.mememonImagePath">
  </md-card-content>
</md-card>
