#memedex {
  margin-left: 50px;
  margin-top: 50px;
  float: left;
  width: 700px;
}

.memedex-mememon {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  padding: 20px;
  margin: 10px;
}
